name: win-python-build-workflows
on:
  pull_request:
    types: [opened, reopened]
jobs:
  workflows-test:
    runs-on: Windows
    steps:
      - shell: pwsh
        run: |
          "C:\Program Files\PowerShell\7" >> $env:GITHUB_PATH
          
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: print github env
        run : echo ${core.addPath}
        
      - name: run python
        run : python --version
        shell: python
        
defaults:
  run:
    shell: pwsh
          
