name: win-python-build-workflows
on:
  pull_request:
    types: [opened, reopened]
jobs:
  workflows-test:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: print github env
        run : Write-Output "::workflow-command ${github.action_path}"
        
defaults:
  run:
    shell: pwsh
          
