name: win-python-build-workflows
on:
  pull_request:
    types: [opened, reopened]
jobs:
  workflows-test:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - shell: pwsh
        run: |
          "C:\Program Files\PowerShell\7" >> $env:GITHUB_PATH
      
      - name: print github env
        run : echo ${core.addPath}
        
      - name: Set up Python 3.10
        uses : actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: 'x64'
        env:
          AGENT_TOOLSDIRECTORY: /opt/hostedtoolcache
          RUNNER_TOOL_CACHE: /opt/hostedtoolcache
          shell: powershell
          run: |
            "C:\WINDOWS\System32\WindowsPowerShell\v1.0\" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        
defaults:
  run:
    shell: pwsh
          
