name: win-python-build-workflows
on:
  pull_request:
    types: [opened, reopened]
jobs:
  workflows-test:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - shell: pwsh
        run: |
          "C:\Program Files\PowerShell\7" >> $env:GITHUB_PATH
      
      - name: print github env
        run : echo ${core.addPath}
        
      - name: Set up Python 3.10
        uses : actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: 'x64'
        env:
          shell: powershell
          run: |
            "VERSION=5" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
            AGENT_TOOLSDIRECTORY : C:\Program Files\PowerShell\7
        
defaults:
  run:
    shell: pwsh
          
