name: win-python-build-workflows
on:
  pull_request:
    types: [opened, reopened]
   
jobs:
  workflows-test:
    runs-on: self-hosted
    steps:   
      - name: print path
        uses: Write-Output "::dfjdfd${core.exportVariable}"
           
defaults:
  run:
    shell: pwsh
          
