name: win-python-build-workflows
on:
  pull_request:
    types: [opened, reopened]
jobs:
  workflows-test:
    runs-on: Windows
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: show env-variable
      run : $env:path 
      
    - name: Set up Python 3.10
      uses : actions/setup-python@v4
      with:
        python-version: '3.10'
        architecture: 'x64' 
      env:
        AGENT_TOOLSDIRECTORY: /opt/hostedtoolcache
        RUNNER_TOOL_CACHE: /opt/hostedtoolcache
    
